$corDeFundoHeader: rgb(255, 255, 255);
$corDeFundoBotaoPrincipal: blue;
$corDeFundoBotaoSecundario: rgb(238, 238, 238);
$corDeFundoFooter: rgb(64, 64, 64);
$corDaFonteBotaoPrincipal: white;
$corDaFonte: rgb(64, 64, 64);
$corDaFonteFooter: rgb(255, 255, 255);